*{
    font-family: 'Poppins', sans-serif;
}

@font-face {
	font-family: 'Bypass';
	src: url('assets/Bypass.ttf'); 
	/* src: 
		local('Lovely Font'),
		local('Lovely-Font'),
		url('fonts/lovely_font.otf') 
		format('opentype'); */
}


footer{
    background-color: var(--main-blue);
    height: 2rem;
    position: relative;
}

body{
    overflow-x: hidden;
}

footer img{
    position: absolute;
    display: block;
    height: 4rem;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
}

footer small.copyright{
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    display: block;
    padding:3rem 0 1rem;
    background-color: var(--main-blue);
}

footer small.copyright a{
    color: white;
}