:root {
    --main-blue: #03A9F4;
    --main-background: #262D30;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wallet-address-div{
    color: white;
    text-align: center;
    margin: 2rem 0rem 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.wallet-address-div p{
    font-size: 1rem;
    border-bottom: 1px solid white;
    width: max-content;
    margin: auto;
    background-color: #1c2124;
    padding: 0.2rem;
    cursor: pointer;
    transition: all .1s;
}


.wallet-address-div p:hover{
    color: var(--main-blue);
}

.wallet-address-div p:hover .copy-icon{
    filter: invert(70%) sepia(59%) saturate(6957%) hue-rotate(168deg) brightness(100%) contrast(105%);

}

.copy-icon{
    filter: invert(100%) sepia(23%) saturate(1%) hue-rotate(1deg) brightness(104%) contrast(101%);
    height: 1.2rem;
    cursor: pointer;
    transition: all .1s;
    transform: translateY(2.5px);
}

.copy-icon:hover{
    transform: scale(1.2);
}

.copy-tooltip{
    position: relative;
}

.copy-tooltip .copy-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(42, 42, 42);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

@media only screen and (max-width: 600px){
    .copy-tooltip .copy-tooltiptext {
        display: none;
    }

    .wallet-address-div p{
        max-width: 70%;
        word-wrap: break-word;
        word-break: break-all;
    }
}

.copy-tooltip .copy-tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(255, 255, 255, 0.75) transparent transparent;
}

.copy-tooltip:hover .copy-tooltiptext{
    visibility: visible;
}

.qr-code{
    margin: auto;
}

.qr-code img{
    margin: auto;
    width: 25vh;
}
@media only screen and (max-width: 600px){
    .qr-code img{
        width: 70%;
    }
}



html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-background);
}

header {
    background-color: var(--main-blue);
    padding: .5rem;
}

header img {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 600px){
    header img {
        width: 90%;
    }
}

main{
    min-height: 140vh;
}

.main-slogan {
    width: 60%;
    color: white;
    margin: auto;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2vh;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .main-slogan {
        width: 90%;
        color: white;
        margin: auto;
        font-size: 2.2rem;
        font-weight: 700;
        padding-top: 4vh;
        text-align: center;
    }
}

.need-help-join-btn-container {
    display: flex;
    justify-content: center;
}

.need-help-join-btn {
    color: white;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 9999px;
    margin: 2rem 0 4rem;
    background-color: var(--main-blue);
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all .2s;
}

@media only screen and (max-width: 600px){
    .need-help-join-btn {
        color: white;
        font-size: 2rem;
        padding: 1rem 2rem;
        font-weight: 700;
        border-radius: 9999px;
        margin: 4rem;
        background-color: var(--main-blue);
        outline: none;
        border: none;
        cursor: pointer;
        text-align: center;
        transition: all .2s;
    }
}

.need-help-join-btn:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.86);
}

.crypto-coins-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width: 600px){
    .crypto-coins-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
}

.coin-cointainer{
    margin: 2rem 4rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .2s;
}

.coin-cointainer img{
    width: 10vw;
    margin: auto;
}
@media only screen and (max-width: 600px){
    .coin-cointainer img{
        width: 60vw;
        margin: auto;
    }
}

.coin-cointainer:hover{
    transform: scale(1.1);
}

.coin-text{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
}

.form-container{
    margin: 3rem auto 5rem;
    width: 70vw;

}

.form-container.hidden{
    display: none;
}

.form-container .header{
    background-color: var(--main-blue);
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.form-container .main{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    background-color: #F5F5F5 ;
}

.form-container .main > input{
    width: 70%;
    min-width: 10rem;
    border: none;
    outline: none;
    background-color: var(--main-blue);
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0 auto 3rem;
}


.form-container .main > input::placeholder{
    color: rgb(215, 215, 215);
}

.form-container .submit-btn {
    color: white;
    font-size: 1.5rem;
    padding: .5rem 3rem;
    font-weight: 600;
    border-radius: 9999px;
    background-color: var(--main-blue);
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all .2s;
    margin: auto;
}


.form-container .submit-btn:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 600px){
    .form-container .main{
        padding: 2rem 0.5rem;
    }
    .form-container .main > input{
        width: 90%;
        font-size: 1rem;
    }
    .form-container .header{
        padding: 0.5rem;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .form-container .submit-btn {
        width: 90%;
    }
}
