:root {
    --main-blue: #03A9F4;
    --main-background: #262D30;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--main-background);
}

header {
    background-color: var(--main-blue);
    padding: .5rem;
}

header img {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 600px){
    header img {
        width: 90%;
    }
}


.main-slogan {
    width: 60%;
    color: white;
    margin: auto;
    font-size: 5rem;
    font-weight: 200;
    padding-top: 15vh;
    text-align: center;
    font-family: Bypass;
    letter-spacing: .3rem;
    word-spacing: .6rem;
}
@media only screen and (max-width: 600px){
    .main-slogan {
        width: 90%;
        color: white;
        margin: auto;
        font-size: 2.5rem;
        font-weight: 200;
        padding-top: 10vh;
        text-align: center;
    }
}

.main-slogan span{
    color: var(--main-blue);
    font-family: Bypass;
}



.join-now-btn-container {
    display: flex;
    justify-content: center;
}

.join-now-btn {
    color: white;
    font-size: 3rem;
    padding: 1rem 2rem;
    font-weight: 200;
    font-family: Bypass;
    border-radius: 9999px;
    margin: 4rem;
    background-color: var(--main-blue);
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all .2s;
}

@media only screen and (max-width: 600px){
    .join-now-btn {
        color: white;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 9999px;
        margin: 4rem;
        background-color: var(--main-blue);
        outline: none;
        border: none;
        cursor: pointer;
        text-align: center;
        transition: all .2s;
        font-weight: 100;
    }
}

.join-now-btn:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.86);
}

.three-photos-div {
    padding: 14rem 10rem;
    display: flex;
    justify-content: space-evenly;
    background: rgb(3, 169, 244);
    background: radial-gradient(ellipse, rgba(3, 169, 244, 1) 0%, rgba(23, 100, 135, 1) 0%, rgba(38, 45, 48, 1) 61%);
}

.three-photos-div>img {
    width: 25%;
}

.three-photos-div>img:nth-child(2) {
    transform: translateY(20%);
}

@media only screen and (max-width: 600px){
    .three-photos-div {
        flex-direction: column;
        padding: 2rem;
    }

    .three-photos-div>img {
        width: 90%;
        margin: 1rem;
    }
    
    .three-photos-div>img:nth-child(2) {
        transform: translateY(0);
    }
}

.offer{
    padding-left: 4rem;
}


.offer-div h2 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 3rem;
    margin-bottom: 11rem;
}
@media only screen and (max-width: 600px){
    .offer-div h2 {
        font-size: 3rem;
        margin: 1rem;
    }
}

.offer-div>div {
    margin-bottom: 8rem;
}

.offer>* {
    padding-right: 4rem;
    margin-right: 0;
}

@media only screen and (max-width: 600px){
    .offer>* {
        padding: 1rem;
        margin-right: 0;
    }
}

.offer {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.offer h3 {
    color: var(--main-blue);
    font-size: 2.5rem;
}
@media only screen and (max-width: 600px) {
    .offer h3 {
        color: var(--main-blue);
        font-size: 2rem;
    }
}

.offer p {
    color: white;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .offer {
        flex-direction: column;
        padding: 0;
        margin-right: 0;
        text-align: center;
    }

    .offer img {
        order: 2;
        margin-right: 0;
        width: 100%;
    }

    .offer>* {
        margin-right: 0;
    }

    .offer>div {
        order: 1;
        margin-bottom: 2rem;
    }
}


.reviews-div h2 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 8rem;
}
@media only screen and (max-width: 600px){
    .reviews-div h2 {
        color: white;
        font-size: 2rem;
        text-align: center;
        margin: 3rem;
        margin-bottom: 4rem;
    }
}


.reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10vw;
}
@media only screen and (max-width: 600px){
    .reviews-container {
        justify-content: space-between;
    }
}

.reviews-container>div {
    width: 28%;
    margin-bottom: 1rem;
}
@media only screen and (max-width: 600px){
    .reviews-container>div {
        width: 100%;
    }
}

.reviews-container>div>img {
    width: 100%;
}


.faq-div h2 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 10rem;
}
@media only screen and (max-width: 600px){
    .faq-div h2 {
        color: white;
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        margin-bottom: 4rem;
    }
}

.faq-div .container {
    display: flex;
    width: 70vw;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media only screen and (max-width: 600px){
    .faq-div .container {
        display: flex;
        width: 70vw;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}


.faq-div .container>div {
    width: 40%;
    margin-bottom: 3rem;
}
@media only screen and (max-width: 600px){
    .faq-div .container>div {
        width: 100%;
        margin-bottom: 3rem;
    }

    .faq-div .container>div>h4 {
        text-align: center;
    }
    
    .faq-div .container>div>p {
        text-align: center;
    }
}

.faq-div .container>div>h4 {
    font-size: 1.5rem;
    color: var(--main-blue)
}

.faq-div .container>div>p {
    color: rgb(180, 180, 180);
}

.join-now-btn-container-bottom {
    display: flex;
    justify-content: center;
}

.join-now-btn-bottom {
    color: white;
    font-size: 4rem;
    padding: 1.5rem 2.5rem;
    font-weight: 700;
    border-radius: 9999px;
    margin: 4rem;
    background-color: var(--main-blue);
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all .2s;
    margin-bottom: 15rem;
}@media only screen and (max-width: 600px) {

    .join-now-btn-bottom {
        color: white;
        font-size: 2.2rem;
        padding: 1.2rem 1.7rem;
        font-weight: 700;
        border-radius: 9999px;
        margin: 4rem;
        background-color: var(--main-blue);
        outline: none;
        border: none;
        cursor: pointer;
        text-align: center;
        transition: all .2s;
        margin-bottom: 15rem;
    }
}

.join-now-btn-bottom:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.86);
}

footer{
    background-color: var(--main-blue);
    height: 2rem;
    position: relative;
}

footer img{
    position: absolute;
    display: block;
    height: 4rem;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
}